<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STIG tattoo</title>

  <link rel="stylesheet" href="../css/output.css">

  <!-- font -->
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
</head>

<body">
  <nav class="bg-zinc-950 shadow fixed w-full z-50">
    <div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
      <div class=""><img src="../assets/img/logo-1.png" alt="logo menu" class="w-16"></div>
      <button id="menu-btn" class="text-white focus:outline-none md:hidden">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
      <div id="menu" class="hidden md:flex space-x-8">
        <a href="" class="text-white text-lg hover:text-blue-500">Inicio</a>
        <a href="" class="text-white text-lg hover:text-blue-500">Artista</a>
        <a href="" class="text-white text-lg hover:text-blue-500">Serviços</a>
        <a href="" class="text-white text-lg hover:text-blue-500">Galeria</a>
        <a href="" class="text-white text-lg hover:text-blue-500">Contato</a>
      </div>
    </div>
  </nav>
  <!-- Menu Mobile -->
  <div id="mobile-menu" class="md:hidden hidden fixed top-14 left-0 w-full bg-white shadow z-40">
    <div>
      <a href="" class="block px-4 py-2 text-white text-lg bg-zinc-950 hover:bg-blue-700">Inicio</a>
      <a href="" class="block px-4 py-2 text-white text-lg bg-zinc-950 hover:bg-blue-700">Artista</a>
      <a href="" class="block px-4 py-2 text-white text-lg bg-zinc-950 hover:bg-blue-700">Serviços</a>
      <a href="" class="block px-4 py-2 text-white text-lg bg-zinc-950 hover:bg-blue-700">Galeria</a>
      <a href="" class="block px-4 py-2 text-white text-lg bg-zinc-950 hover:bg-blue-700">Contato</a>
    </div>
  </div>




  <script src="../js/menu.js"></script>
  </body>

</html>