@import "tailwindcss";

@theme {
  --color-primary: #DBB116;
  --color-secondary: oklch(0.646 0.222 41.116);
}

body {
  font-family: var(--font-inter);
  background-color: oklch(0.21 0.006 285.885);
  color: oklch(0.985 0.002 247.839);
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: var(--font-londrina-Solid);
  /* Usando Londrina Solid para os títulos */
}

.shadowWhats {
  box-shadow: 0px 0px 15px 5px rgba(0, 255, 0, 0.401);
  /* Sombra verde */
}

.shadowInsta {
  box-shadow: 0px 0px 15px 5px rgba(255, 0, 93, 0.401);
  /* Sombra verde */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: #DBB116;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ac8600;
}