@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .parallax-bg {
    background-image: url('../assets/img/bg-header.png');
    background-attachment: fixed;
    /* Fixa o fundo para o efeito parallax */
    background-position: center;
    background-size: cover;
    height: 100vh;
    /* Defina a altura da seção com parallax */
  }

  .bg-pro-gradient {
    background: linear-gradient(-45deg, #f6b000, #ff0000, #ec0099, #9d00b9);
  }

  .hover\:text-gradient:hover {
    background: linear-gradient(90deg, #8400ff, #ff0044, #ffe100, #ff00e6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  /* Expansão do contêiner e do texto */
  .btn-expand {
    width: 60px;
    /* Largura inicial do botão (apenas ícone) */
  }

  .btn-expand:hover {
    width: 200px;
    /* Largura expandida quando hover */
  }

  .btn-text {
    opacity: 0;
    /* Inicialmente o texto está invisível */
    white-space: nowrap;
  }

  .btn-expand:hover .btn-text {
    opacity: 1;
    /* Texto visível ao passar o mouse */
  }

  .blue-1000 {
    background: #010313;
  }

  .blue-960 {
    background: #121428;
  }
}